<style>

  .cabecera-contenedor {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0em auto;
  border-radius: 6px;   /* el radio vive aquí */
  overflow: hidden;     /* recorta overlay y mantiene bordes */
  line-height: 0;       /* elimina gap fantasma bajo la imagen */
}

.cabecera-imagen {
  display: block;
  height: auto;
  width:100%;
  max-height:200px;
  object-fit:cover;
  border-radius:10px;
}

.cabecera-titulo {
  position: absolute;
  bottom: 12px;
  left: 12px;
  margin: 0;
  padding: 10px 14px;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  background: rgba(0,0,0,0.6);
  border-radius: 4px;
  line-height: 1.2;
  z-index: 1;
  max-width: calc(100% - 24px); /* evita desbordes en móvil */
}

@media (max-width: 768px) {
  .cabecera-titulo {
    font-size: clamp(1rem, 6vw, 1rem);
    padding: 0px 0px 0px 0px;
    bottom: 0px;
    left: 10px;
    max-width: calc(100% - 20px);
  }
}



</style>

{% assign datos = site.data[tipo].cabecera %}

<div class="cabecera-contenedor">
  <img 
    alt="{{ datos.imagen.alt }}"
    sizes="(max-width: 768px) 100vw, 1000px"
    src="{{ datos.imagen.src }}"
    srcset="{{ datos.imagen.srcset }}"
    class="cabecera-imagen" />

  <h1 id="titulo-principal" class="cabecera-titulo">
    {{ datos.titulo }}
  </h1>
</div>