{% assign datos = site.data[tipo].cual_compraria_yo %}
{% assign productos = site.data[tipo].productos.productos %}
{% assign datos2 = site.data[tipo].cabecera %}


<h2 id="mi-eleccion">{{ datos.titulo }}</h2>
<p>{{ datos.intro | markdownify }}</p>

{% for item in datos.elecciones %}

        <h3>{{ item.categoria }}</h3>
        <p>{{ item.descripcion | markdownify }}</p>
      {% for producto in productos %}
        {% if item.modelo contains producto.nombre %}
          <a class="boton"
             href="{{ producto.enlace }}"
          style="min-height:44px"
             target="_blank">
             {{ datos2.emoji }} {{ producto.nombre }} en Amazon
          </a>
        {% endif %}
      {% endfor %}
{% endfor %}