<style>
    footer a { font-size: 0.8em; }
    footer {
  margin-top: 50px; /* espacio respecto a las tarjetas */
}
.hero-divider1{height:6px;background:#111;margin:10px 0 12px !important;}
</style>
<footer>
<div class="hero-divider1"></div>
    © 2025 Recomendador.net - Algunos enlaces de Amazon pueden generarnos comisiones de afiliado sin coste para ti.
    <br>
    <a href="/legal/aviso-legal/">Aviso legal</a> · 
    <a href="/legal/politica-privacidad/">Política de privacidad</a> · 
    <a href="/legal/politica-cookies/">Política de cookies</a>
</footer>
