
<header class="hero-banner-rediseñado">
  <div class="hero-inner">
    <div class="hero-logo">
      <a aria-label="Ir a la homepage de Recomendador.net" href="/">
        <img alt="Logo Recomendador.net" src="/global/logo.webp" width="600" />
      </a>
    </div>
    <div class="hero-texto" style="margin-left: auto; text-align: right;">
      <p><strong>🛡️ Recomendaciones reales desde 2020</strong></p>
      <p>⭐ Análisis imparciales por expertos</p>
      <p>🔝​ Lo probamos por ti para que elijas lo mejor</p>

    </div>
  </div>
</header>

