{% assign productos = site.data[tipo].productos.productos %}
{% assign datos = site.data[tipo].cabecera %}

<style>.separador-producto {
  border-top: 1px solid #838383;
  margin: 1.5em 0;
  opacity: 0.5;
}</style>
<div class="bloque-productos">
  {% for producto in productos %}
    <div class="ficha-teclado">
      <h3 id="{{ producto.nombre }}">{{ producto.nombre }}</h3>
      <a href="{{ producto.enlace }}" target="_blank">
      <img alt="{{ producto.nombre }}" style="max-height:260px;object-fit:contain;" loading="lazy" src="{{ producto.imagen }}" />
      </a>
      <p class="valoracion-html" style="font-weight: bold; color: #e67e22;">⭐ Valoración del experto: {{ producto.valoracion }}/5</p>
      <p class="descripcion-review">{{ producto.descripcion | markdownify }}</p>
      {% if producto.caracteristicas %}
      <h4>Principales características:</h4>
        <ul class="bullets-review">
          {% for item in producto.caracteristicas %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <a class="boton" href="{{ producto.enlace }}" style="min-height:44px" target="_blank">{{ datos.emoji }} Ver oferta actual en Amazon</a>
    </div>
    

  {% unless forloop.last %}
    <div class="separador-producto"></div>
  {% endunless %}
{% endfor %}
</div>
