---
layout: autor
autorFull: David Jimenez
title: Artículos de David Jimenez | Recomendador.net
autor: david
permalink: /autor/david/
---

{% include menu.html %}
<div class="container">

  {% assign posts_autor = site.posts | where: "autor", page.autor | sort: 'date' | reverse %}

  {% for post in posts_autor %}
    <article style="margin-bottom: 2rem;">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p><small>{{ post.date | date: "%d/%m/%Y" }}</small></p>
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url }}">Leer más →</a>
    </article>
  {% endfor %}

  {% include footer.html %}
</div>
