---
layout: default
---

{% include menu.html %}
{% include estiloazul.html %}
<style>
  .hero-title{
  margin:8px 0 8px !important;font-size:clamp(1.9rem,1.8vw + 1rem,2.4rem) !important;line-height:1.1;font-weight:900;letter-spacing:-.5px;color:#111 !important;
}
.category-intro{font-size: 1.5rem; opacity:.95}
</style>
<div class="container">
<h1 class="hero-title">{{ page.title | capitalize }}</h1>
<div class="hero-divider"></div>

{% if page.intro %}
  <div class="category-intro">
    {{ page.intro | markdownify }}
  </div>
{% endif %}
<div class="hero-divider"></div>


{%- assign items = page.items | sort: "title" -%}
{%- assign items = items | sort: "orden" -%}

  {%- assign items = page.items | sort: "orden" | sort: "title" -%}
  {%- for d in items -%}
    <li><a href="{{ d.url | relative_url }}">{{ d.title }}</a></li>
  {%- endfor -%}
</ul>

</div>