<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZN94Y4QHN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3ZN94Y4QHN');
  </script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ page.description | default: site.description }}" />
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />
  <title>{{ page.title | default: site.title }}</title>
  {% if page.canonical %}
  <link rel="canonical" href="{{ page.canonical }}">
  {% else %}
  <link rel="canonical" href="{{ site.url | append: page.url }}">
  {% endif %}
  <link rel="icon" href="{{ '/global/favicon.ico' | relative_url }}" type="image/x-icon" />
  <meta name="author" content="Carlos López" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title | default: site.title }}" />
  <meta property="og:description" content="{{ page.description | default: site.description }}" />
  <meta property="og:image" content="https://recomendador.net/global/logo.webp" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title | default: site.title }}" />
  <meta name="twitter:description" content="{{ page.description | default: site.description }}" />
  <meta name="twitter:image" content="https://recomendador.net/global/logo.webp" />
</head>
<body>
  <style>@media (max-width: 768px) {
  .nav-links.activo {
    display: flex !important;
  }
}</style>
  {% include header.html %}
    {{ content }}

  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.querySelector(".hamburger");
    const navLinks = document.querySelector(".nav-links");

    hamburger.addEventListener("click", function () {
      navLinks.classList.toggle("activo");
    });
  });
</script>
</body>
</html>
